/*1. Global Styles */
:root {
  --serif: "Merriweather";
  --sans-serif: "Open Sans";
  --bg-color: #330000b3;

  --color: white;
  --accent: hsl(161, 66%, 47%);
  --tint: #ffe6e6;
}

/* --sans-serif: "Open Sans";
--bg-color: hsla(340, 87%, 15%, 0.7);

--color: hsl(60, 24%, 96%);
--accent: #5bc0be;
--tint: #ffe6e6; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
}
form {
  padding-bottom: 20px;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 20px;
}

/* 2. Typography Styles */

.typography,
::placeholder,
option,
select {
  font-family: var(--sans-serif);
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
  text-align: center;
  color: var(--accent);
  /* text-shadow: 5px 5px 10px #999; */
  width: 90%;
  margin: 0 auto;
  /* background: radial-gradient(hsla(0, 100%, 98%, 1), hsla(0, 100%, 98%, 0) 20%); */
}
p {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}
#description {
  font-weight: 400;
}
.form--width {
  font-size: 0.9rem;
}
.form-label {
  width: 70%;
}

label {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
}
/*3. Structure Styles */

main {
  color: var(--color);
  background: linear-gradient(var(--bg-color), var(--bg-color)),
    url("https://upload.wikimedia.org/wikipedia/en/a/a3/CampusLife_sm.jpg");
  background-size: cover;
}
form {
  font-weight: 600;
}

/*4. Components Styles */
.form--width {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 15vh;
  padding: 16px;
  border-radius: 10px;
}

#submit {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--accent);
  padding: 12px;
  color: var(--bg-color);
  border: none;
}

input:focus,
select:focus,
textarea:focus {
  background-color: var(--tint);
  outline: none;
  box-shadow: 0 0 5px 5px var(--accent);
}
[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-mark {
  position: absolute;
  top: 12%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}
.radio-container:hover input ~ .radio-mark {
  background-color: var(--tint);
}
.radio-container input:checked ~ .radio-mark {
  background-color: var(--accent);
}
.radio-mark::after {
  content: "";
  position: absolute;
  background: var(--tint);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  display: none;
}

.radio-container input:checked ~ .radio-mark:after {
  display: block;
}

[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 12%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 2px;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--tint);
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--accent);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--tint);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* non-mobile styles */
@media only screen AND (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  #description {
    text-align: center;
    font-size: 1.22em;
  }
  label {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .form--width {
    width: 100%;
    padding: 1em;
  }
  .form-label {
    width: 50%;
    margin-bottom: 5px;
  }
  input,
  select {
    margin-top: 5px;
  }

  #submit {
    width: 50%;
    font-size: 1.25em;
  }
}
